* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #2E110A;
    overflow-x: hidden;
}

main {
    align-items: center;
}

.abs1 {
    text-align: end;
}

.container-fluid, .container {
    padding: 0;
}

.hDois {
    font-size: 3rem;
}


.hTres, .hTres strong {
    font-size: 2rem;
}

.fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
    font-size: 1.7rem;
}

.fontsT tr td p strong, .fontsT strong {
    font-size: 1.6rem;
}

.tBotao {
    width: 15rem;
    background-color: #2E110A;
    color: white;
}

.tBotao .fontsT {
    color: white;
}

.cxG {
    margin: 6.25rem 0 12.5rem 0;
}

@media (max-width: 1400px) {
    .hDois {
        font-size: 2.2rem;
    }
    .hTres, .hTres strong {
        font-size: 1.9rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
        font-size: 1.5rem;
    }
    .fontsT tr td p strong, .fontsT strong {
        font-size: 1.4rem;
    }
}

@media (max-width: 1200px) {
    .hDois {
        font-size: 2rem;
    }
    .hTres, .hTres strong {
        font-size: 1.7rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .hDois {
        font-size: 1.7rem;
    }
    .hTres, .hTres strong {
        font-size: 1.4rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i, .fontsT tr td p strong, .fontsT strong  {
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .row {
        margin: 0 var(--bs-gutter-x);
        padding: 0 var(--bs-gutter-x);
    }
}