*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #2E110A;
}

.container-fluid, .container {
    padding: 0;
}

.hDois {
    font-size: 4.75rem;
}


.hTres, .hTres strong {
    font-size: 3.5rem;
}

.fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
    font-size: 2.75rem;
}

.fontsT tr td p strong, .fontsT strong {
    font-size: 2.5rem;
}

.tBotao {
    width: 25rem;
    background-color: #2E110A;
    color: white;
}

.tBotao .fontsT {
    color: white;
}

.cxG {
    margin: 10rem 0 20rem 0;
}

@media (max-width: 1400px) {
    .hDois {
        font-size: 3.5rem;
    }
    .hTres, .hTres strong {
        font-size: 3rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
        font-size: 2.5rem;
    }
    .fontsT tr td p strong, .fontsT strong {
        font-size: 2.25rem;
    }
}

@media (max-width: 1200px) {
    .hDois {
        font-size: 3.25rem;
    }
    .hTres, .hTres strong {
        font-size: 2.75rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i {
        font-size: 2.25rem;
    }
    .fontsT tr td p strong, .fontsT strong {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .hDois {
        font-size: 2.75rem;
    }
    .hTres, .hTres strong {
        font-size: 2.25rem;
    }
    .fontsT, .fontsT tr th, .fontsT tr td, .fontsT i  {
        font-size: 2rem;
    }
    .fontsT tr td p strong, .fontsT strong {
        font-size: 1.75rem;
    }
}

@media (max-width: 600px) {
    .row {
        margin: 0 var(--bs-gutter-x);
        padding: 0 var(--bs-gutter-x);
    }
}