* {
  font-family: 'Raleway', sans-serif;
  color: #2e110a;
}
.imgCardHover {
  width: 100%;
  height: 100%;
  transition: all 0.8s;
}
.imgCardHover:hover {
  transform: scale(1.3);
  overflow: hidden;
}
.card {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}
.card-text {
  font-weight: 600;
}
.text {
  text-align: center;
  margin-bottom: 60px;
}
.pp {
  width: 70%;
  height: 250px;
  position: absolute;
  top: 10%;
  color: white;
  margin: 20px 0 0 50px;
  /* width: 50%; */
}
.pp h2,
.pp p {
  font-size: clamp(2.5rem, 2rem + 3vw, 4rem);
}
.imgModal {
  width: 100%;
}

.arrawUp {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 1;
  transition: all 0.5s;
}
.arrawUp:hover {
  width: 70px;
  height: 70px;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  background-color: #2e110a;
  border-radius: 140px 0 0 0;
  padding: 10px;
}
.detalhes {
  text-decoration: underline;
  cursor: pointer;
}
.textSection {
  margin: 100px 0;
}
hr {
  margin: 100px 0 0 0;
}
h2 {
  font-size: 2.5rem;
}

.abs1 {
  text-align: end;
}
.bg-br{
  background-color: #4b2f28b2;
  border: none;
}

.sc{
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

footer img {
  height: 1.5rem;
}

@media (min-width: 991px) {
  .abs1 {
    text-align: start;
  }
}